﻿@inherits LayoutComponentBase
<div>
    <main>
        <div class="px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="px-4">
            @Body
        </article>
    </main>
</div>
