﻿@page "/"
@inject IJSRuntime JS

<div class="grid grid-cols-6 mt-4">
    <!-- Header -->
    <div>HostName</div>
    <div class="text-right">Last</div>
    <div class="text-right">Min</div>
    <div class="text-right">Max</div>
    <div class="text-right">Avg</div>
    <div class="text-right">Loss</div>
    <!-- Items -->
    @foreach (var data in _pingRenderingDatas)
    {
        var s = data.Statistics;
        var textStyle = $"text-[{data.StrokeStyle}]";
        var loss = $"{s.PacketLossRate * 100:F2}";

        <div class="@textStyle">@data.HostName</div>
        <div class="@textStyle text-right">@s.Last ms</div>
        <div class="@textStyle text-right">@s.Minimum ms</div>
        <div class="@textStyle text-right">@s.Maximum ms</div>
        <div class="@textStyle text-right">@s.Average.ToString("F2") ms</div>
        <div class="@textStyle text-right">@loss %</div>
    }
</div>

<div class="w-full h-96 mt-4">
    <canvas id="canvas"></canvas>
</div>
